
.dashboard{
    display: inline-flex;
    justify-content: space-around;
}

@media only screen and (max-width: 600px)
{
    .dashboard{
        display: block;
        text-align: center;
    }
}

.users, .claims, .paids, .donated{
    width: 150px;
    border: 1px solid orange;
    border-radius: 10px;
    text-align: center;
    margin: 15px;
    padding: 16px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    font-weight: 100;
}

@media only screen and (max-width: 600px)
{
    .users, .claims, .paids, .donated{
        width: auto;
    }
    
}

.settings{
    text-align: center;
}

.settings input{
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
}

.settings button{
    margin-bottom: 15px;
}

/*
==========================================================================================
INDEX ADMIN
==========================================================================================
*/


.loginForm{
    
    padding: 25px;
    text-align: center;
    width: 250px;
    margin: 0;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
}

.loginForm input{
    text-align: center;
}

.form-group{
    text-align: center;
}

.logo{
    margin-top: 25%;
    margin-bottom: 15px;
    width: 350px;
    margin-left: -50px;
}

.logo img{
    width: 350px;
}

@media only screen and (max-width: 600px)
{
    .logo, .logo img{
        margin: auto;
        margin-top: 20%;
        width: 250px;
    }
    
    .loginForm{
        margin: auto;
    }
}
