body{
    background-color: rgb(31, 50, 69);
    color: orange;
}

h4{
    font-weight: 100;
}

a{
    color: orange;
}

p{
    color: white;
    font-size: 2em;
}

span{
    padding: 0.5em;
    border: solid 1px;
    border-radius: 60px;
    border-color: white;
}

#logout{
   justify-content: flex-end;
}

#success{
    font-size: 16px;
}

#getID{
    visibility: hidden;
}

#msgAlert{
    color: black;
    font-size: 26px;
    letter-spacing: 2px;
}

.nav a{
    margin-bottom: 30px;
    text-align: center;
    color: white;
}


.left-nav{
    margin-top: 10px;
    border: solid 1px;
}

@media only screen and (max-width: 600px)
{
    .nav a{
        font-size: 0.1em;
        margin-left: -10px;
    }
    
    .lef-nav{
        display: block;
    }
    
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: orange;
}

.dashboard{
    display: inline-flex;
}

@media only screen and (max-width: 600px)
{
    .dashboard{
        display: block;
    }
}

.users, .claims, .paids, .donated{
    width: 150px;
    /*height: 100px;*/
    border: 1px solid orange;
    border-radius: 10px;
    text-align: center;
    margin: 15px;
    padding: 16px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    font-weight: 100;
}

@media only screen and (max-width: 600px)
{
    .users, .claims, .paids, .donated{
        width: auto;
    }
    
    .users p, .claims p, .paids p, .donated p{
        
        font-size: 1em;
    }
}

.settings{
    text-align: center;
}

.settings input{
    text-align: center;
    margin-bottom: 10px;
    border: none;
}

.settings button{
    margin-bottom: 15px;
}

/*
==========================================================================================
INDEX ADMIN
==========================================================================================
*/


.loginForm{
    
    padding: 25px;
    text-align: center;
    width: 250px;
    margin: 0;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
}

.loginForm input{
    text-align: center;
}

.form-group{
    text-align: center;
}

.logo{
    margin-top: 25%;
    margin-bottom: 15px;
    width: 350px;
    margin-left: -50px;
}

.logo img{
    width: 350px;
}

@media only screen and (max-width: 600px)
{
    .logo, .logo img{
        margin: auto;
        margin-top: 20%;
        width: 250px;
    }
    
    .loginForm{
        margin: auto;
    }
}


