/*FIRST SECTION*/
*,*:after, *:before;{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#loading-container{
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 1000;
}

#loading{
    height: 250px;
    width: 250px;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    
    background-image: url(../assets/img/superiorcoin-animation2.gif);
}

#page{
    visibility: hidden;
}

.container{
    max-width: 1200px;
}

.hero{
    margin: 15px;
}
.hero h1{
    text-align: center;
}

.hero-content{
    text-align: center;
}

.hero-content a{
    color: black;
}

.hero-content a:hover{
    color: #6a4809;
}

@media only screen and (max-width: 600px){

    .hero-content a{
        color: #6a4809;
    }

    hero-content a:hover{
    color: #6a4809;
    }
}

.hero-content input[type="text"]{
    width: 300px;
    text-align: center;
}

.goBtn{
    text-align: center;
    margin-top: 15px;
    letter-spacing: 0.2rem;
}

.upBtn{
    text-align: center;
    margin-top: 15px;
    margin-left: 10px;
    letter-spacing: 0.2rem;
}

#alert_msg{
    text-align: center;
    color: black;
    font-size: 18px;
}

.succes_signup_modal{
    text-align: center;
}

/*SECOND SECTION*/

.info-page{
    text-align: center;
}

.info-page p{
    margin-top: 20px;
}

.info-coins{
    text-align: center;
}

.info-coins p{
    margin-top: 20px;
}

.info-donate{
    text-align: center;
}

.info-donate p{
    margin-top: 20px;
}

.pool{
    text-align: center;
}

#spnPoolAmount{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 5px;
}

/*FOOTER SECTION*/
.footer-hero{
    margin: auto;
}

.ends{
    text-align: center;
    background-color: #343a40;;
    height: auto;
    width: auto ;
    margin: auto;
}

.footer-ends{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    width: auto ;
}

.ends p{
    font-size: 16px;
}

.media-footer{
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.media-icon img{
    max-width: 50px;
    max-height: 50px;
}

@media only screen and (max-width: 600px){

    .media-icon img{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

footer .title{
    font-size: 18px;
    margin: 0 0 15px 0;
    font-weight: 600;
}

footer a{
    color: #000;
}

.links .col-md-3{
    margin-bottom: 20px;
}

.links{
    text-align: center;
}

/*FAUCET HTML STYLEE*/


.hero-balance{
    margin: 50px 0px 50px 0;
}

.balance{
    padding: 20px 0 10px 0;
    text-align: center; 
    background-color: #343a40;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

#balance{
    font-size: 26px;
    color: #877d7d;
}

.unlock-balance{
    padding: 20px 0 10px 0;
    text-align: center; 
    background-color: #343a40;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

#unlock-balance{
    font-size: 26px;
    color: #877d7d;
}

.form-group-claim{
    text-align: center;
}

.form-group-claim label{
    font-size: 32px;
}

.timer{
    text-align: center;
}

#spnTimer{
    font-size: 38px;
    
}

#btnClaim{
    visibility: hidden;
    letter-spacing: 5px;
}

#btnWithdraw{
    letter-spacing: 5px;
}

#btnLogOut:hover{
    color: orange;
}

.payments-container{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.history{
    text-align: center;
}

.profile-hero{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.captcha-container{
    display: flex;
    width: auto;
    height: auto;
}

.captcha-container .claim-captcha{
    margin: auto;
}

/*LAST CHANGES*/

.succes_signup_modal{
    text-align: center;
}

.donate-modal{
    text-align: center;
}

.donateForm{
    text-align: center;
}

.donateForm button{
    margin-left: 20px;
}

.donateWallet{
    width: 350px;
}

.btnDonate{
    margin-top: 10px;
}

#msgDonate{
    0.2em;
    color: red;
    text-shadow: 0px 0px 20px black;
}

#msg{
    0.2em;
    color: red;
    text-shadow: 0px 0px 20px black;
    visibility:hidden;
}

.errorlog{
    text-align: center;
    color: white;
    font-size: 1.2em;
    letter-spacing: 2px;
    width: 100%;
    height: auto;
    background-color: rgba(255, 0, 0, 0.81);

    position: fixed;
    padding: 10px 0px 10px 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2000;
    overflow: inherit;
    display: none;

}
@media only screen and (max-width: 600px){

    .errorlog{
        font-size: 1em;
        bottom: 25px;
    }
}

